In [44]:
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup 
import requests
import re
import os
import time

# Scraping Stadium Capacity Data From Wikipedia

### Website (https://en.wikipedia.org/wiki/List_of_current_NFL_stadiums)

In [4]:
url = 'https://en.wikipedia.org/wiki/List_of_current_NFL_stadiums'

page = requests.get(url)

soup = BeautifulSoup(page.text, 'html')

In [5]:
#Scraping Column Names from 'Th'
table = soup.find_all('table', class_ = "wikitable sortable plainrowheaders")[0]
titles = table.find_all('th')
table_titles = [title.text.strip() for title in titles]
column_names = table_titles[0:8]

In [6]:
stadium_names = pd.DataFrame(table_titles[9:39], columns = ["Name"])
stadium_names.head()

                      Name
0         Acrisure Stadium
1        Allegiant Stadium
2        Arrowhead Stadium
3             AT&T Stadium
4  Bank of America Stadium

In [7]:
column_data = table.find_all('tr')

stadium_info_list = []

for row in column_data[1:]:
    row_data = row.find_all('td')[1:7]
    individual_row_data = [data.text.strip() for data in row_data]
    stadium_info_list.append(individual_row_data)

In [8]:
stadium_info = pd.DataFrame(stadium_info_list, columns = column_names[2:])

stadium_info_df = pd.concat([stadium_names, stadium_info], axis = 1)
stadium_info_df.head()

,Name,Team(s),Location,Capacity,Surface,Roof type,Opened
0,Acrisure Stadium,Pittsburgh Steelers,"Pittsburgh, Pennsylvania","68,400",Kentucky bluegrass,Open,2001
1,Allegiant Stadium,Las Vegas Raiders,"Paradise, Nevada","65,000",Bermuda grass,Fixed,2020
2,Arrowhead Stadium,Kansas City Chiefs,"Kansas City, Missouri","76,416",Bermuda grass,Open,1972
3,AT&T Stadium,Dallas Cowboys,"Arlington, Texas","80,000",Hellas Matrix Turf,Retractable,2009
4,Bank of America Stadium,Carolina Panthers,"Charlotte, North Carolina","74,867",FieldTurf,Open,1996

In [9]:
#Creating Additional Rows for Shared Stadiums
shares_stadium = (stadium_info_df["Name"] == "MetLife Stadium") | (stadium_info_df["Name"] == "SoFi Stadium")
shared_stadiums = stadium_info_df[shares_stadium]
shared_stadiums

,Name,Team(s),Location,Capacity,Surface,Roof type,Opened
21,MetLife Stadium,New York GiantsNew York Jets,"East Rutherford, New Jersey","82,500",FieldTurf Core[34],Open,2010
26,SoFi Stadium,Los Angeles RamsLos Angeles Chargers,"Inglewood, California","70,240",Hellas Matrix Turf,Fixed,2020

# Cleaning Stadium DataFrame

In [10]:
stadium_info_df = pd.concat([stadium_info_df, shared_stadiums])
stadium_info_df.sort_index(inplace = True)
stadium_info_df.reset_index(drop = True, inplace = True)

# #Removing Commas from Values in Capacity
stadium_info_df["Capacity"] = stadium_info_df["Capacity"].replace(",","", regex = True)
# #Changing Capacity Column to Integer Type
stadium_info_df["Capacity"] = stadium_info_df["Capacity"].astype(float)
stadium_info_df.head()

,Name,Team(s),Location,Capacity,Surface,Roof type,Opened
0,Acrisure Stadium,Pittsburgh Steelers,"Pittsburgh, Pennsylvania",68400.0,Kentucky bluegrass,Open,2001
1,Allegiant Stadium,Las Vegas Raiders,"Paradise, Nevada",65000.0,Bermuda grass,Fixed,2020
2,Arrowhead Stadium,Kansas City Chiefs,"Kansas City, Missouri",76416.0,Bermuda grass,Open,1972
3,AT&T Stadium,Dallas Cowboys,"Arlington, Texas",80000.0,Hellas Matrix Turf,Retractable,2009
4,Bank of America Stadium,Carolina Panthers,"Charlotte, North Carolina",74867.0,FieldTurf,Open,1996

### Changing Team Name Column for Shared Stadiums

In [11]:
# Renaming "Team(s)" column as "Team"
stadium_info_df.rename(columns = {"Team(s)": "Team"}, inplace = True)


stadium_info_df.iloc[21, 1] = "New York Jets"
stadium_info_df.iloc[22, 1] = "New York Giants"

stadium_info_df.iloc[27, 1] = "Los Angeles Chargers"
stadium_info_df.iloc[28, 1] = "Los Angeles Rams"

stadium_info_df.tail()

,Name,Team,Location,Capacity,Surface,Roof type,Opened
27,SoFi Stadium,Los Angeles Chargers,"Inglewood, California",70240.0,Hellas Matrix Turf,Fixed,2020
28,SoFi Stadium,Los Angeles Rams,"Inglewood, California",70240.0,Hellas Matrix Turf,Fixed,2020
29,Soldier Field,Chicago Bears,"Chicago, Illinois",61500.0,Bermuda grass[43],Open,1924[a]
30,State Farm Stadium,Arizona Cardinals,"Glendale, Arizona",63400.0,Bermuda grass,Retractable,2006
31,U.S. Bank Stadium,Minnesota Vikings,"Minneapolis, Minnesota",66655.0,UBU Speed Series S5-M Synthetic Turf[46],Fixed,2016

### Reducing DF Columns

In [12]:
stadium_info_df_clean = stadium_info_df[["Team", "Name", "Capacity", "Opened"]]
stadium_info_df_clean.head()

                  Team                     Name  Capacity Opened
0  Pittsburgh Steelers         Acrisure Stadium   68400.0   2001
1    Las Vegas Raiders        Allegiant Stadium   65000.0   2020
2   Kansas City Chiefs        Arrowhead Stadium   76416.0   1972
3       Dallas Cowboys             AT&T Stadium   80000.0   2009
4    Carolina Panthers  Bank of America Stadium   74867.0   1996

## Adjusting Maximum Capacities to Account for Standing Room

In [98]:
stadium_info_df_clean.loc[stadium_info_df_clean["Team"] == "Cincinnati Bengals", "Capacity"] = 67260
stadium_info_df_clean.loc[stadium_info_df_clean["Team"] == "Cleveland Browns", "Capacity"] = 73718

stadium_info_df_clean.loc[stadium_info_df_clean["Team"] == "Dallas Cowboys", "Capacity"] = 90000

stadium_info_df_clean.sort_values(by = "Team")

                     Team                        Name  Capacity   Opened
30      Arizona Cardinals          State Farm Stadium   63400.0     2006
20        Atlanta Falcons      Mercedes-Benz Stadium‡   71000.0     2017
19       Baltimore Ravens            M&T Bank Stadium   71008.0     1998
13          Buffalo Bills            Highmark Stadium   71608.0     1973
4       Carolina Panthers     Bank of America Stadium   74867.0     1996
29          Chicago Bears               Soldier Field   61500.0  1924[a]
25     Cincinnati Bengals              Paycor Stadium   67260.0     2000
6        Cleveland Browns    Cleveland Browns Stadium   73718.0     1999
3          Dallas Cowboys                AT&T Stadium   90000.0     2009
8          Denver Broncos  Empower Field at Mile High   76125.0     2001
10          Detroit Lions                  Ford Field   65000.0     2002
14      Green Bay Packers               Lambeau Field   81441.0     1957
24         Houston Texans                 NRG Stadium   72220.0     2002
17     Indianapolis Colts           Lucas Oil Stadium   67000.0     2008
9    Jacksonville Jaguars            EverBank Stadium   67838.0     1995
2      Kansas City Chiefs           Arrowhead Stadium   76416.0     1972
1       Las Vegas Raiders           Allegiant Stadium   65000.0     2020
27   Los Angeles Chargers                SoFi Stadium   70240.0     2020
28       Los Angeles Rams                SoFi Stadium   70240.0     2020
12         Miami Dolphins           Hard Rock Stadium   65326.0     1987
31      Minnesota Vikings           U.S. Bank Stadium   66655.0     2016
11   New England Patriots            Gillette Stadium   66829.0     2002
5      New Orleans Saints           Caesars Superdome   73208.0     1975
22        New York Giants             MetLife Stadium   82500.0     2010
21          New York Jets             MetLife Stadium   82500.0     2010
16    Philadelphia Eagles     Lincoln Financial Field   69596.0     2003
0     Pittsburgh Steelers            Acrisure Stadium   68400.0     2001
15    San Francisco 49ers              Levi's Stadium   68500.0     2014
18       Seattle Seahawks                 Lumen Field   69000.0     2002
26   Tampa Bay Buccaneers       Raymond James Stadium   69218.0     1998
23       Tennessee Titans              Nissan Stadium   69143.0     1999
7   Washington Commanders            Commanders Field   65000.0     1997

# Scraping Team Abbreviation Table

In [14]:
url = "https://en.wikipedia.org/wiki/Wikipedia:WikiProject_National_Football_League/National_Football_League_team_abbreviations"

# Read the table directly from the URL using pandas read_html
tables = pd.read_html(url)

abbreviations_df = tables[0]
abbreviations_df.columns = abbreviations_df.iloc[0]
abbreviations_df.rename(columns = {'Franchise':'Team', 'Commonly Used Abbreviations':'Tm'}, inplace = True)
abbreviations_df.drop(index = 0, inplace = True)
abbreviations_df.drop(columns = 'Official Team Abbreviation Codes', inplace = True)

#Changing Jaguars abbreviation from JAC to JAX
abbreviations_df.loc[abbreviations_df["Team"] == "Jacksonville Jaguars", "Tm"] = "JAX"
abbreviations_df.head()

0               Team   Tm
1  Arizona Cardinals  ARI
2    Atlanta Falcons  ATL
3   Baltimore Ravens  BAL
4      Buffalo Bills  BUF
5  Carolina Panthers  CAR

# Scraping Attendance Data (2013-2023)

In [15]:
base_url = "https://www.pro-football-reference.com/years/{}/attendance.htm"

# Create a list of URLs for the years 2013 to 2023
years = [year for year in range(2013,2024) if year != 2020]
urls = [base_url.format(year) for year in years]

def fetch_attendance_data(url):
    """
    Fetches attendance data from the given URL and returns a DataFrame.
    
    Parameters:
    url (str): The URL of the webpage containing attendance data.

    Returns:
    pd.DataFrame: A DataFrame containing the parsed attendance data.
    """
    # Fetch the web page
    response = requests.get(url)
    response.raise_for_status()  # Raise an error for bad responses

    # Parse the HTML content using BeautifulSoup
    soup = BeautifulSoup(response.text, 'html.parser')

    # Find the specific table
    table = soup.find('table', {'id': 'attendance'})
    if table is None:
        raise ValueError("Attendance table not found")

    # Extract headers
    headers = [th.text for th in table.find('thead').find_all('th')]

    # Extract rows
    rows = []
    for tr in table.find('tbody').find_all('tr'):
        cells = tr.find_all(['th', 'td'])
        row = [cell.text.strip() for cell in cells]  # Remove any extra whitespace
        rows.append(row)

    # Create DataFrame
    df = pd.DataFrame(rows, columns=headers)

    # Remove any unwanted rows or columns (optional)
    df = df.dropna(how='all')  # Drop rows where all elements are NaN

    # Remove spaces from column names
    df.columns = df.columns.str.replace(' ', '')

    #Rename Team column to "Team"
    df.rename(columns = {"Tm":"Team"}, inplace = True)
    
    return df

# Dictionary to hold attendance data for each year
attendance_dfs = {}

# Loop to fetch data and create DataFrames for each year
for year, url in zip(years, urls):
    try:
        # Fetch data
        df = fetch_attendance_data(url)
        attendance_dfs[year] = df
        print(f"Successfully fetched data for {year}")
    except requests.HTTPError as http_err:
        print(f"HTTP error occurred for {year}: {http_err}")
    except Exception as e:
        print(f"An error occurred for {year}: {e}")

# Access and display data for 2013
attendance_dfs[2023].head()

Successfully fetched data for 2013
Successfully fetched data for 2014
Successfully fetched data for 2015
Successfully fetched data for 2016
Successfully fetched data for 2017
Successfully fetched data for 2018
Successfully fetched data for 2019
Successfully fetched data for 2021
Successfully fetched data for 2022
Successfully fetched data for 2023

,Team,Total,Home,Away,Week1,Week2,Week3,Week4,Week5,Week6,...,Week9,Week10,Week11,Week12,Week13,Week14,Week15,Week16,Week17,Week18
0,Arizona Cardinals,"1,113,568","502,912","610,656","64,693","62,080","62,915","71,521","62,651","71,202",...,"67,919","62,861","70,247","62,177","66,436",Bye,"63,967","59,978","69,879","63,197"
1,Atlanta Falcons,"1,176,416","556,828","619,588","69,597","69,251","63,803","85,716","69,461","69,921",...,"69,715","62,861",Bye,"70,166","74,455","69,496","70,301","69,221","61,752","70,072"
2,Baltimore Ravens,"1,170,734","635,380","535,354","70,136","66,015","70,038","67,919","67,272","61,011",...,"70,753","70,424","70,997","70,240",Bye,"70,492","68,021","71,812","71,196","70,355"
3,Buffalo Bills,"1,183,200","626,483","556,717","83,345","70,772","64,291","70,881","61,273","70,515",...,"66,965","70,318","70,603","69,879",Bye,"73,639","70,933","67,678","70,772","66,292"
4,Carolina Panthers,"1,163,926","573,086","590,840","69,597","72,709","68,699","72,842","63,648","65,529",...,"72,301","61,200","73,543","62,493","62,432","70,009","70,301","70,875","67,233","69,010"

# Cleaning Attendance Data

In [16]:
# Dropping Unecessary columns
for year in range(2013,2024):
    if year != 2020:
        attendance_dfs[year].drop(columns = ['Total', 'Home', 'Away'], inplace = True)

In [17]:
# Adjusting Inconsistent Team Names
for year in range(2013,2024):
    if year != 2020:
        attendance_dfs[year] = attendance_dfs[year].map(lambda x: 'Los Angeles Chargers' if 'Chargers' in x else x)
        attendance_dfs[year] = attendance_dfs[year].map(lambda x: 'Los Angeles Rams' if 'Rams' in x else x)
        attendance_dfs[year] = attendance_dfs[year].map(lambda x: 'Washington Commanders' if 'Washington' in x else x)
        attendance_dfs[year] = attendance_dfs[year].map(lambda x: 'Las Vegas Raiders' if 'Raiders' in x else x)

In [18]:
# Changing Tm column to Team abbreviations
for year in range(2013,2024):
    if year != 2020:
        attendance_dfs[year] = pd.merge(abbreviations_df, attendance_dfs[year], on = 'Team', how = 'right')
        attendance_dfs[year].drop(columns = 'Team', inplace = True)
        
        #Sorting Teams Alphabetically to Match up with Schedule DF
        attendance_dfs[year].sort_values(by = "Tm", inplace = True)
        attendance_dfs[year].reset_index(drop = True, inplace = True)

attendance_dfs[2023].head()

,Tm,Week1,Week2,Week3,Week4,Week5,Week6,Week7,Week8,Week9,Week10,Week11,Week12,Week13,Week14,Week15,Week16,Week17,Week18
0,ARI,"64,693","62,080","62,915","71,521","62,651","71,202","68,781","63,064","67,919","62,861","70,247","62,177","66,436",Bye,"63,967","59,978","69,879","63,197"
1,ATL,"69,597","69,251","63,803","85,716","69,461","69,921","62,620","68,008","69,715","62,861",Bye,"70,166","74,455","69,496","70,301","69,221","61,752","70,072"
2,BAL,"70,136","66,015","70,038","67,919","67,272","61,011","70,989","63,064","70,753","70,424","70,997","70,240",Bye,"70,492","68,021","71,812","71,196","70,355"
3,BUF,"83,345","70,772","64,291","70,881","61,273","70,515","64,628","70,416","66,965","70,318","70,603","69,879",Bye,"73,639","70,933","67,678","70,772","66,292"
4,CAR,"69,597","72,709","68,699","72,842","63,648","65,529",Bye,"71,505","72,301","61,200","73,543","62,493","62,432","70,009","70,301","70,875","67,233","69,010"

## Missing Values

In [19]:
#Searching for Missing Values
for year in range(2013, 2024):
    if year != 2020:
        if (attendance_dfs[year] == "").sum().sum() > 0:
            print(year)

2021

In [20]:
# Inputting Missing Values
attendance_dfs[2021].loc[attendance_dfs[2021]["Tm"] == "CLE", "Week15"] = 67431
attendance_dfs[2021].loc[attendance_dfs[2021]["Tm"] == "LV", "Week15"] = 67431
attendance_dfs[2021].loc[attendance_dfs[2021]["Tm"] == "BUF", "Week14"] = 65655
attendance_dfs[2021].loc[attendance_dfs[2021]["Tm"] == "TB", "Week14"] = 65655

(attendance_dfs[2021] == "").sum().sum()

0

In [21]:
# Changing Data Type from str to int
for year in range(2013,2024):
    if year != 2020:
        #Removing commas from attendance value counts
        attendance_dfs[year] = attendance_dfs[year].replace(',','', regex = True)
        #Removing Bye Weeks
        attendance_dfs[year] = attendance_dfs[year].replace('Bye','0', regex = True)
        #Fill Blank values with 0
        
        #Changing data type from string to int
        for col in attendance_dfs[year].columns[1:]:
            attendance_dfs[year][col] = attendance_dfs[year][col].astype(int)
attendance_dfs[2023].dtypes

Tm        object
Week1      int32
Week2      int32
Week3      int32
Week4      int32
Week5      int32
Week6      int32
Week7      int32
Week8      int32
Week9      int32
Week10     int32
Week11     int32
Week12     int32
Week13     int32
Week14     int32
Week15     int32
Week16     int32
Week17     int32
Week18     int32
dtype: object

## Writing Cleaned Attendance Data to CSV Files for Exploratory Data Analysis

In [278]:
folder_path = 'C:/Users/petew/NFL Attendance Project/Data Files/Attendance Data for EDA'

# Naming Excel File to write Data to
excel_filename = 'Cleaned_Attendance_Data_All.xlsx'
full_file_path = os.path.join(folder_path, excel_filename)

# Create an Excel writer with the custom filename and folder path
excel_writer = pd.ExcelWriter(full_file_path, engine='xlsxwriter')

for year, df in attendance_dfs.items():
    sheet_name = f"{year}"
    df.to_excel(excel_writer, sheet_name=sheet_name, index=False)


# Save and close the Excel writer
excel_writer.close()

In [142]:
os.getcwd() + "/Data Files/Attendance Data for EDA"

'C:\\Users\\petew\\NFL Attendance Project/Data Files/Attendance Data for EDA'

## Converting Attendance values to Percentage of Stadium Filled
### (Attendance / Capacity)

### Adding Capacity Column to Each Team Row

In [99]:
#Joining Stadium Info Dataframe with Abbreviation DataFrame
capacity_abbreviation_join = pd.merge(stadium_info_df[["Team", "Capacity"]], abbreviations_df, on = "Team", how = "right")
#Dropping "Team" column
capacity_abbreviation_df = capacity_abbreviation_join[["Capacity", "Tm"]]

#Creating New Dictionary for all Capacity Percentage Dataframes
capacity_dfs = {}

#Joining Capacity and Abbreviation DF with Attendance DF
for year in range(2013,2024):
    if year != 2020:
        capacity_dfs[year] = pd.merge(capacity_abbreviation_df, attendance_dfs[year], on = "Tm", how = "right")
    
capacity_dfs[2023].head()

,Capacity,Tm,Week1,Week2,Week3,Week4,Week5,Week6,Week7,Week8,Week9,Week10,Week11,Week12,Week13,Week14,Week15,Week16,Week17,Week18
0,63400.0,ARI,64693,62080,62915,71521,62651,71202,68781,63064,67919,62861,70247,62177,66436,0,63967,59978,69879,63197
1,71000.0,ATL,69597,69251,63803,85716,69461,69921,62620,68008,69715,62861,0,70166,74455,69496,70301,69221,61752,70072
2,71008.0,BAL,70136,66015,70038,67919,67272,61011,70989,63064,70753,70424,70997,70240,0,70492,68021,71812,71196,70355
3,71608.0,BUF,83345,70772,64291,70881,61273,70515,64628,70416,66965,70318,70603,69879,0,73639,70933,67678,70772,66292
4,74867.0,CAR,69597,72709,68699,72842,63648,65529,0,71505,72301,61200,73543,62493,62432,70009,70301,70875,67233,69010

### Changing Attendance Values to Float for Division

In [100]:
for year in range(2013,2024):
    if year != 2020:
        for col in capacity_dfs[year].columns[2:]:
            capacity_dfs[year][col] = capacity_dfs[year][col].astype(float)

capacity_dfs[2023].head()

,Capacity,Tm,Week1,Week2,Week3,Week4,Week5,Week6,Week7,Week8,Week9,Week10,Week11,Week12,Week13,Week14,Week15,Week16,Week17,Week18
0,63400.0,ARI,64693.0,62080.0,62915.0,71521.0,62651.0,71202.0,68781.0,63064.0,67919.0,62861.0,70247.0,62177.0,66436.0,0.0,63967.0,59978.0,69879.0,63197.0
1,71000.0,ATL,69597.0,69251.0,63803.0,85716.0,69461.0,69921.0,62620.0,68008.0,69715.0,62861.0,0.0,70166.0,74455.0,69496.0,70301.0,69221.0,61752.0,70072.0
2,71008.0,BAL,70136.0,66015.0,70038.0,67919.0,67272.0,61011.0,70989.0,63064.0,70753.0,70424.0,70997.0,70240.0,0.0,70492.0,68021.0,71812.0,71196.0,70355.0
3,71608.0,BUF,83345.0,70772.0,64291.0,70881.0,61273.0,70515.0,64628.0,70416.0,66965.0,70318.0,70603.0,69879.0,0.0,73639.0,70933.0,67678.0,70772.0,66292.0
4,74867.0,CAR,69597.0,72709.0,68699.0,72842.0,63648.0,65529.0,0.0,71505.0,72301.0,61200.0,73543.0,62493.0,62432.0,70009.0,70301.0,70875.0,67233.0,69010.0

In [101]:
#Maximum Capacity Adjustments for Changed Home Stadiums

# Old Stadiums:
# 49ers, Candlestick Park, 2013, 69732
capacity_dfs[2013].loc[capacity_dfs[2013]["Tm"] == "SF", "Capacity"] = 69732.0

# Falcons, Georgia Dome, 2013-2016, 71228
for year in range(2013,2017):
    capacity_dfs[year].loc[capacity_dfs[year]["Tm"] == "ATL", "Capacity"] = 71228.0

# Vikings, Humphrey Metrodome, 2013, 64121
capacity_dfs[2013].loc[capacity_dfs[2013]["Tm"] == "MIN", "Capacity"] = 64121.0

# Vikings, TCF Bank Stadium, 2014-2015, 52525
for year in range(2014,2016):
    capacity_dfs[year].loc[capacity_dfs[year]["Tm"] == "MIN", "Capacity"] = 52525.0

# Raiders, Oakland Coliseum, 2013-2019, 56057
for year in range(2013,2020):
    if year != 2020:
        capacity_dfs[year].loc[capacity_dfs[year]["Tm"] == "LV", "Capacity"] = 56057.0

# Chargers, Qualcomm Stadium, 2013-2016, 70561
for year in range(2013,2017):
    capacity_dfs[year].loc[capacity_dfs[year]["Tm"] == "LAC", "Capacity"] = 70561.0

# Chargers, StubHub Center, 2017-2020, 27000
for year in range(2017,2021):
    if year != 2020:
        capacity_dfs[year].loc[capacity_dfs[year]["Tm"] == "LAC", "Capacity"] = 27000.0

# Rams, Edward Jones Dome 2013-2015, 66000
for year in range(2013,2016):
    capacity_dfs[year].loc[capacity_dfs[year]["Tm"] == "LAR", "Capacity"] = 66000.0

# Rams, Los Angeles Memorial Coliseum, 2016-2020, 78467
for year in range(2016,2021):
    if year != 2020:
        capacity_dfs[year].loc[capacity_dfs[year]["Tm"] == "LAR", "Capacity"] = 78467.0

#Washington Commanders Capacity Decrease: (2013-2015), 85000
for year in range(2013,2016):
    capacity_dfs[year].loc[capacity_dfs[year]["Tm"] == "WAS", "Capacity"] = 85000.0
    
#Washington Commanders Capacity Decrease: (2016-2019), 82000
for year in range(2016,2020):
    capacity_dfs[year].loc[capacity_dfs[year]["Tm"] == "WAS", "Capacity"] = 82000.0

#Washington Commanders Capacity Decrease: (2020-2023), 67717
for year in range(2021,2024):
    capacity_dfs[year].loc[capacity_dfs[year]["Tm"] == "WAS", "Capacity"] = 67717.0

In [102]:
# #Creating % Capacity Variable
for year in range(2013,2024):
    if year != 2020:
        
        for row in range(0,32):
            #Dividing attendance values by capacity column
            capacity_dfs[year].iloc[row, 2:] /= capacity_dfs[year].iloc[row, 0]

capacity_dfs[2023].head()

,Capacity,Tm,Week1,Week2,Week3,Week4,Week5,Week6,Week7,Week8,Week9,Week10,Week11,Week12,Week13,Week14,Week15,Week16,Week17,Week18
0,63400.0,ARI,1.020394,0.979180,0.992350,1.128091,0.988186,1.123060,1.084874,0.994700,1.071278,0.991498,1.107997,0.980710,1.047886,0.000000,1.008943,0.946025,1.102192,0.996798
1,71000.0,ATL,0.980239,0.975366,0.898634,1.207268,0.978324,0.984803,0.881972,0.957859,0.981901,0.885366,0.000000,0.988254,1.048662,0.978817,0.990155,0.974944,0.869746,0.986930
2,71008.0,BAL,0.987720,0.929684,0.986340,0.956498,0.947386,0.859213,0.999732,0.888125,0.996409,0.991776,0.999845,0.989184,0.000000,0.992733,0.957934,1.011323,1.002648,0.990804
3,71608.0,BUF,1.163906,0.988325,0.897819,0.989848,0.855673,0.984736,0.902525,0.983354,0.935161,0.981985,0.985965,0.975855,0.000000,1.028363,0.990574,0.945118,0.988325,0.925762
4,74867.0,CAR,0.929609,0.971176,0.917614,0.972952,0.850148,0.875272,0.000000,0.955094,0.965726,0.817450,0.982315,0.834720,0.833905,0.935112,0.939012,0.946679,0.898033,0.921768

In [103]:
#Removing Capacity Column
for year in range(2013,2024):
    if year != 2020:
        capacity_dfs[year].drop(columns = {"Capacity"}, inplace = True)
        
capacity_dfs[2023].head()

,Tm,Week1,Week2,Week3,Week4,Week5,Week6,Week7,Week8,Week9,Week10,Week11,Week12,Week13,Week14,Week15,Week16,Week17,Week18
0,ARI,1.020394,0.979180,0.992350,1.128091,0.988186,1.123060,1.084874,0.994700,1.071278,0.991498,1.107997,0.980710,1.047886,0.000000,1.008943,0.946025,1.102192,0.996798
1,ATL,0.980239,0.975366,0.898634,1.207268,0.978324,0.984803,0.881972,0.957859,0.981901,0.885366,0.000000,0.988254,1.048662,0.978817,0.990155,0.974944,0.869746,0.986930
2,BAL,0.987720,0.929684,0.986340,0.956498,0.947386,0.859213,0.999732,0.888125,0.996409,0.991776,0.999845,0.989184,0.000000,0.992733,0.957934,1.011323,1.002648,0.990804
3,BUF,1.163906,0.988325,0.897819,0.989848,0.855673,0.984736,0.902525,0.983354,0.935161,0.981985,0.985965,0.975855,0.000000,1.028363,0.990574,0.945118,0.988325,0.925762
4,CAR,0.929609,0.971176,0.917614,0.972952,0.850148,0.875272,0.000000,0.955094,0.965726,0.817450,0.982315,0.834720,0.833905,0.935112,0.939012,0.946679,0.898033,0.921768

### Adjusting Percent Capacity Values for International Games

In [104]:
# London Games
# Wembley Stadium Max Capacity: 86,000
# Twickenham Stadium Max Capacity: 75,000
# Tottenham Hotspur Stadium Max Capacity: 62,850
capacity_dfs[2013].loc[capacity_dfs[2013]["Tm"] == "MIN", "Week4"] = attendance_dfs[2013].loc[attendance_dfs[2013]["Tm"] == "MIN", "Week4"] / 86000
capacity_dfs[2013].loc[capacity_dfs[2013]["Tm"] == "JAX", "Week8"] = attendance_dfs[2013].loc[attendance_dfs[2013]["Tm"] == "JAX", "Week8"] / 86000

capacity_dfs[2014].loc[capacity_dfs[2014]["Tm"] == "LV", "Week4"] = attendance_dfs[2014].loc[attendance_dfs[2014]["Tm"] == "LV", "Week4"] / 86000
capacity_dfs[2014].loc[capacity_dfs[2014]["Tm"] == "ATL", "Week8"] = attendance_dfs[2014].loc[attendance_dfs[2014]["Tm"] == "ATL", "Week8"] / 86000
capacity_dfs[2014].loc[capacity_dfs[2014]["Tm"] == "JAX", "Week10"] = attendance_dfs[2014].loc[attendance_dfs[2014]["Tm"] == "JAX", "Week10"] / 86000

capacity_dfs[2015].loc[capacity_dfs[2015]["Tm"] == "MIA", "Week4"] = attendance_dfs[2015].loc[attendance_dfs[2015]["Tm"] == "MIA", "Week4"] / 86000
capacity_dfs[2015].loc[capacity_dfs[2015]["Tm"] == "JAX", "Week7"] = attendance_dfs[2015].loc[attendance_dfs[2015]["Tm"] == "JAX", "Week7"] / 86000
capacity_dfs[2015].loc[capacity_dfs[2015]["Tm"] == "KC", "Week8"] = attendance_dfs[2015].loc[attendance_dfs[2015]["Tm"] == "KC", "Week8"] / 86000

capacity_dfs[2016].loc[capacity_dfs[2016]["Tm"] == "JAX", "Week4"] = attendance_dfs[2016].loc[attendance_dfs[2016]["Tm"] == "JAX", "Week4"] / 86000
capacity_dfs[2016].loc[capacity_dfs[2016]["Tm"] == "LAR", "Week7"] = attendance_dfs[2016].loc[attendance_dfs[2016]["Tm"] == "LAR", "Week7"] / 75000
capacity_dfs[2016].loc[capacity_dfs[2016]["Tm"] == "CIN", "Week8"] = attendance_dfs[2016].loc[attendance_dfs[2016]["Tm"] == "CIN", "Week8"] / 86000

capacity_dfs[2017].loc[capacity_dfs[2017]["Tm"] == "JAX", "Week3"] = attendance_dfs[2017].loc[attendance_dfs[2017]["Tm"] == "JAX", "Week3"] / 86000
capacity_dfs[2017].loc[capacity_dfs[2017]["Tm"] == "MIA", "Week4"] = attendance_dfs[2017].loc[attendance_dfs[2017]["Tm"] == "MIA", "Week4"] / 86000
capacity_dfs[2017].loc[capacity_dfs[2017]["Tm"] == "LAR", "Week7"] = attendance_dfs[2017].loc[attendance_dfs[2017]["Tm"] == "LAR", "Week7"] / 75000
capacity_dfs[2017].loc[capacity_dfs[2017]["Tm"] == "CLE", "Week8"] = attendance_dfs[2017].loc[attendance_dfs[2017]["Tm"] == "CLE", "Week8"] / 75000

capacity_dfs[2018].loc[capacity_dfs[2018]["Tm"] == "LV", "Week6"] = attendance_dfs[2018].loc[attendance_dfs[2018]["Tm"] == "LV", "Week6"] / 86000
capacity_dfs[2018].loc[capacity_dfs[2018]["Tm"] == "LAC", "Week7"] = attendance_dfs[2018].loc[attendance_dfs[2018]["Tm"] == "LAC", "Week7"] / 86000
capacity_dfs[2018].loc[capacity_dfs[2018]["Tm"] == "JAX", "Week8"] = attendance_dfs[2018].loc[attendance_dfs[2018]["Tm"] == "JAX", "Week8"] / 86000

capacity_dfs[2019].loc[capacity_dfs[2019]["Tm"] == "LV", "Week5"] = attendance_dfs[2019].loc[attendance_dfs[2019]["Tm"] == "LV", "Week5"] / 62850
capacity_dfs[2019].loc[capacity_dfs[2019]["Tm"] == "TB", "Week6"] = attendance_dfs[2019].loc[attendance_dfs[2019]["Tm"] == "TB", "Week6"] / 62850
capacity_dfs[2019].loc[capacity_dfs[2019]["Tm"] == "LAR", "Week8"] = attendance_dfs[2019].loc[attendance_dfs[2019]["Tm"] == "LAR", "Week8"] / 86000
capacity_dfs[2019].loc[capacity_dfs[2019]["Tm"] == "JAX", "Week9"] = attendance_dfs[2019].loc[attendance_dfs[2019]["Tm"] == "JAX", "Week9"] / 86000

capacity_dfs[2021].loc[capacity_dfs[2021]["Tm"] == "ATL", "Week5"] = attendance_dfs[2021].loc[attendance_dfs[2021]["Tm"] == "ATL", "Week5"] / 62850
capacity_dfs[2021].loc[capacity_dfs[2021]["Tm"] == "JAX", "Week6"] = attendance_dfs[2021].loc[attendance_dfs[2021]["Tm"] == "JAX", "Week6"] / 62850

capacity_dfs[2022].loc[capacity_dfs[2022]["Tm"] == "NO", "Week4"] = attendance_dfs[2022].loc[attendance_dfs[2022]["Tm"] == "NO", "Week4"] / 62850
capacity_dfs[2022].loc[capacity_dfs[2022]["Tm"] == "GB", "Week5"] = attendance_dfs[2022].loc[attendance_dfs[2022]["Tm"] == "GB", "Week5"] / 62850
capacity_dfs[2022].loc[capacity_dfs[2022]["Tm"] == "JAX", "Week8"] = attendance_dfs[2022].loc[attendance_dfs[2022]["Tm"] == "JAX", "Week8"] / 86000

capacity_dfs[2023].loc[capacity_dfs[2023]["Tm"] == "JAX", "Week4"] = attendance_dfs[2023].loc[attendance_dfs[2023]["Tm"] == "JAX", "Week4"] / 86000
capacity_dfs[2023].loc[capacity_dfs[2023]["Tm"] == "BUF", "Week5"] = attendance_dfs[2023].loc[attendance_dfs[2023]["Tm"] == "BUF", "Week5"] / 62850
capacity_dfs[2023].loc[capacity_dfs[2023]["Tm"] == "TEN", "Week6"] = attendance_dfs[2023].loc[attendance_dfs[2023]["Tm"] == "TEN", "Week6"] / 62850

# Mexico Games
# Estadio Azteca Max Capacity: 83,000
capacity_dfs[2016].loc[capacity_dfs[2016]["Tm"] == "LV", "Week11"] = attendance_dfs[2016].loc[attendance_dfs[2016]["Tm"] == "LV", "Week11"] / 83000
capacity_dfs[2017].loc[capacity_dfs[2017]["Tm"] == "LV", "Week11"] = attendance_dfs[2017].loc[attendance_dfs[2017]["Tm"] == "LV", "Week11"] / 83000
capacity_dfs[2019].loc[capacity_dfs[2019]["Tm"] == "LAC", "Week11"] = attendance_dfs[2018].loc[attendance_dfs[2018]["Tm"] == "LAC", "Week11"] / 83000
capacity_dfs[2022].loc[capacity_dfs[2022]["Tm"] == "ARI", "Week11"] = attendance_dfs[2022].loc[attendance_dfs[2022]["Tm"] == "ARI", "Week11"] / 83000

# Germany Games
# Alianz Arena Max Capacity: 70,000
# Deutsche Bank Park Max Capacity: 50,500

capacity_dfs[2022].loc[capacity_dfs[2022]["Tm"] == "TB", "Week10"] = attendance_dfs[2022].loc[attendance_dfs[2022]["Tm"] == "TB", "Week10"] / 70000
capacity_dfs[2023].loc[capacity_dfs[2023]["Tm"] == "KC", "Week9"] = attendance_dfs[2023].loc[attendance_dfs[2023]["Tm"] == "KC", "Week9"] / 50000
capacity_dfs[2023].loc[capacity_dfs[2023]["Tm"] == "NE", "Week10"] = attendance_dfs[2023].loc[attendance_dfs[2023]["Tm"] == "NE", "Week10"] / 50000

# Reading in Schedule Data (Scraped in R file)

In [123]:
# Creating Dictionary to store schedule data frames
schedule_dfs = {}

#For Loop to read in all 10 files
for year in range(2013,2024):
    file_path = f"Data Files/Schedule Data/NFLScheduleMatrix{year}.csv"
    schedule_dfs[year] = pd.read_csv(file_path)
    schedule_dfs[year].sort_values(by = "Team", inplace = True)
    schedule_dfs[year].reset_index(drop = True, inplace = True)

schedule_dfs[2023].head()

,Team,Week1,Week2,Week3,Week4,Week5,Week6,Week7,Week8,Week9,Week10,Week11,Week12,Week13,Week14,Week15,Week16,Week17,Week18
0,ARI,@WSH,NYG,DAL,@SF,CIN,@LAR,@SEA,BAL,@CLE,ATL,@HOU,LAR,@PIT,BYE,SF,@CHI,@PHI,SEA
1,ATL,CAR,GB,@DET,@JAX,HOU,WSH,@TB,@TEN,MIN,@ARI,BYE,NO,@NYJ,TB,@CAR,IND,@CHI,@NO
2,BAL,HOU,@CIN,IND,@CLE,@PIT,@TEN,DET,@ARI,SEA,CLE,CIN,@LAC,BYE,LAR,@JAX,@SF,MIA,PIT
3,BUF,@NYJ,LV,@WSH,MIA,JAX,NYG,@NE,TB,@CIN,DEN,NYJ,@PHI,BYE,@KC,DAL,@LAC,NE,@MIA
4,CAR,@ATL,NO,@SEA,MIN,@DET,@MIA,BYE,HOU,IND,@CHI,DAL,@TEN,@TB,@NO,ATL,GB,@JAX,TB

## Cleaning Schedule Data

In [124]:
# Removing away games and BYE week values and replacing with blanks

for year in range(2013,2024):
    schedule_dfs[year] = schedule_dfs[year].map(lambda x: '' if '@' in x else '' if 'BYE' in x else x)

# Changing Team column to Tm
for year in range(2013,2024):
    schedule_dfs[year].rename(columns = {'Team':'Tm'}, inplace = True)

schedule_dfs[2023].head()

,Tm,Week1,Week2,Week3,Week4,Week5,Week6,Week7,Week8,Week9,Week10,Week11,Week12,Week13,Week14,Week15,Week16,Week17,Week18
0,ARI,,NYG,DAL,,CIN,,,BAL,,ATL,,LAR,,,SF,,,SEA
1,ATL,CAR,GB,,,HOU,WSH,,,MIN,,,NO,,TB,,IND,,
2,BAL,HOU,,IND,,,,DET,,SEA,CLE,CIN,,,LAR,,,MIA,PIT
3,BUF,,LV,,MIA,JAX,NYG,,TB,,DEN,NYJ,,,,DAL,,NE,
4,CAR,,NO,,MIN,,,,HOU,IND,,DAL,,,,ATL,GB,,TB

### Making Schedule Changes Due to Postponments(BUF 2014, NYJ 2014, MIA 2017)

In [125]:
#BUF 2014
#Omitting Week 12 Attendance because Game was played at Ford Field (Lions Stadium)
schedule_dfs[2014].loc[schedule_dfs[2014]["Tm"] == "BUF", "Week12"] = ""
schedule_dfs[2014].loc[schedule_dfs[2014]["Tm"] == "BUF", "Week13"] = "CLE"
schedule_dfs[2014].loc[schedule_dfs[2014]["Tm"] == "BUF", "Week14"] = ""
schedule_dfs[2014].loc[schedule_dfs[2014]["Tm"] == "BUF", "Week15"] = "GB"
schedule_dfs[2014].loc[schedule_dfs[2014]["Tm"] == "BUF", "Week16"] = ""

#MIA 2017

schedule_dfs[2017].loc[schedule_dfs[2014]["Tm"] == "MIA", "Week1"] = ""

#NYJ 2014
schedule_dfs[2014].loc[schedule_dfs[2014]["Tm"] == "NYJ", "Week13"] = "MIA"
schedule_dfs[2014].loc[schedule_dfs[2014]["Tm"] == "NYJ", "Week14"] = ""
schedule_dfs[2014].loc[schedule_dfs[2014]["Tm"] == "NYJ", "Week16"] = "NE"
schedule_dfs[2014].loc[schedule_dfs[2014]["Tm"] == "NYJ", "Week17"] = ""

## Removing Away Game Attendance Values

In [126]:
#Function to remove away game attendance values
def remove_away_games(schedule_df, attendance_df):
    
    #Creating a True/False dataframe (True = Away, False = Home)
    away_games_df = schedule_df == ""
    array = np.where(away_games_df, np.nan, attendance_df)
    df = pd.DataFrame(array, columns = schedule_df.columns)
                      
    return df

for year in range(2013, 2024):
    if year != 2020:
        capacity_dfs[year] = remove_away_games(schedule_dfs[year], capacity_dfs[year])

capacity_dfs[2023].head()

,Tm,Week1,Week2,Week3,Week4,Week5,Week6,Week7,Week8,Week9,Week10,Week11,Week12,Week13,Week14,Week15,Week16,Week17,Week18
0,ARI,NaN,0.97918,0.99235,NaN,0.988186,NaN,NaN,0.9947,NaN,0.991498,NaN,0.98071,NaN,NaN,1.008943,NaN,NaN,0.996798
1,ATL,0.980239,0.975366,NaN,NaN,0.978324,0.984803,NaN,NaN,0.981901,NaN,NaN,0.988254,NaN,0.978817,NaN,0.974944,NaN,NaN
2,BAL,0.98772,NaN,0.98634,NaN,NaN,NaN,0.999732,NaN,0.996409,0.991776,0.999845,NaN,NaN,0.992733,NaN,NaN,1.002648,0.990804
3,BUF,NaN,0.988325,NaN,0.989848,0.974909,0.984736,NaN,0.983354,NaN,0.981985,0.985965,NaN,NaN,NaN,0.990574,NaN,0.988325,NaN
4,CAR,NaN,0.971176,NaN,0.972952,NaN,NaN,NaN,0.955094,0.965726,NaN,0.982315,NaN,NaN,NaN,0.939012,0.946679,NaN,0.921768

### Checking All Teams Have 8 Home Games

In [127]:
# Check to see if each team has 8 home games
for year in range(2013,2024):
    if year != 2020:
        print((capacity_dfs[year].iloc[:,1:].notna().sum(axis = 1) > 8).sum())

0
0
0
0
0
0
0
16
16
16

## Removing Instances Where all Attendance Values are Equal

In [109]:
#2015, Jets
filter = capacity_dfs[2015]["Tm"] == "NYJ"
capacity_dfs[2015][filter]

,Team,Week1,Week2,Week3,Week4,Week5,Week6,Week7,Week8,Week9,Week10,Week11,Week12,Week13,Week14,Week15,Week16,Week17
24,NYJ,0.947394,NaN,0.947394,NaN,NaN,0.947394,NaN,NaN,0.947394,0.947394,NaN,0.947394,NaN,0.947394,NaN,0.947394,NaN

In [110]:
filter = schedule_dfs[2015]["Tm"] == "NYJ"
schedule_dfs[2015][filter]

,Team,Week1,Week2,Week3,Week4,Week5,Week6,Week7,Week8,Week9,Week10,Week11,Week12,Week13,Week14,Week15,Week16,Week17
24,NYJ,CLE,,PHI,,,WSH,,,JAX,BUF,,MIA,,TEN,,NE,

# Formating Data for Machine Learning

## Transposing Data

In [128]:
capacity_dfs_long = {}

for year in range(2013,2024):
    if year != 2020:
        capacity_dfs_long[year] = pd.melt(capacity_dfs[year], id_vars = ["Tm"], var_name = "Week", value_name = "Percent Capacity")
        capacity_dfs_long[year]["Week"] = capacity_dfs_long[year]["Week"].str.replace("Week", "").astype("int")
        capacity_dfs_long[year]["Percent Capacity"] = capacity_dfs_long[year]["Percent Capacity"].astype("float")
        capacity_dfs_long[year]["Year"] = int(year)
       
        #Removing all Away Game Rows
        capacity_dfs_long[year].dropna(inplace = True)

capacity_dfs_long[2023].head()

    Tm  Week  Percent Capacity  Year
1  ATL     1          0.980239  2023
2  BAL     1          0.987720  2023
5  CHI     1          1.015545  2023
7  CLE     1          1.007237  2023
9  DEN     1          1.002286  2023

## Combining All Years

In [129]:
capacity_df_all = pd.concat([capacity_dfs_long[2013],
                            capacity_dfs_long[2014],
                            capacity_dfs_long[2015],
                            capacity_dfs_long[2016],
                            capacity_dfs_long[2017],
                            capacity_dfs_long[2018],
                            capacity_dfs_long[2019],
                            capacity_dfs_long[2021],
                            capacity_dfs_long[2022],
                            capacity_dfs_long[2023]], axis = 0, ignore_index = True)

capacity_df_all

       Tm  Week  Percent Capacity  Year
0     BUF     1          0.970827  2013
1     CAR     1          0.978989  2013
2     CHI     1          1.011593  2013
3     CLE     1          1.060536  2013
4     DAL     1          1.066850  2013
...   ...   ...               ...   ...
2602   NO    18          0.957163  2023
2603  NYG    18          0.918061  2023
2604   SF    18          1.045606  2023
2605  TEN    18          0.921915  2023
2606  WAS    18          0.939867  2023

[2607 rows x 4 columns]

## Adding Win Total Column
#### Step 1: Scrape Weekly Matchup Data

In [107]:
# Define headers for the HTTP request
headers = {
    'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/58.0.3029.110 Safari/537.3'
}

# Function to extract the number of wins from the record
def extract_wins(record):
    try:
        wins, losses = map(int, record.split('-'))
        return wins
    except ValueError:
        return 0

# Function to determine the winner of the game
def determine_winner(game):
    scores = game.find_all('div', class_='ScoreCell__Score')
    if len(scores) == 2:
        score_away = int(scores[0].text.strip())
        score_home = int(scores[1].text.strip())
        if score_away > score_home:
            return 'away'
        elif score_home > score_away:
            return 'home'
    return None

# Prepare a list to store the data
weekly_record_data = []

start_time = time.time()

#Looping through each year
for year in range(2013,2024):
    if year != 2020:
        # Determine the number of weeks for each year
        if year < 2021:
            weeks = range(1, 18)  # 17 weeks
        else:
            weeks = range(1, 19)  # 18 weeks

        for week in weeks:
            
            # Update the URL for the specific week and year
            url = f'https://www.espn.com/nfl/scoreboard/_/week/{week}/year/{year}/seasontype/2'
            
            # Make the HTTP request to the URL
            response = requests.get(url, headers=headers)
            soup = BeautifulSoup(response.content, "html.parser")          
            
            # Find all game elements
            games = soup.find_all('div', class_='Scoreboard__Row')
            
            # Loop over each game and extract the relevant information
            for game in games:
                # Extract competitors (both teams)
                competitors = game.find_all('li', class_='ScoreboardScoreCell__Item')
            
                # Check if there are exactly two teams in the game
                if len(competitors) == 2:
                    # Extract information for each team
                    away_team_tag = competitors[0].find('a', class_='AnchorLink')
                    away_team_abbr = away_team_tag.get('href').split('/')[5].upper() if away_team_tag else "Unknown"
                    away_team_record_tag = competitors[0].find('span', class_='ScoreboardScoreCell__Record')
                    away_team_record = away_team_record_tag.text.strip() if away_team_record_tag else '0-0'
                    away_team_wins = extract_wins(away_team_record)
            
                    home_team_tag = competitors[1].find('a', class_='AnchorLink')
                    home_team_abbr = home_team_tag.get('href').split('/')[5].upper() if home_team_tag else "Unknown"
                    home_team_record_tag = competitors[1].find('span', class_='ScoreboardScoreCell__Record')
                    home_team_record = home_team_record_tag.text.strip() if home_team_record_tag else '0-0'
                    home_team_wins = extract_wins(home_team_record)
            
                    # Determine the winner of the game
                    winner = determine_winner(game)
            
                    # Adjust the win counts based on the game result
                    if winner == 'away':
                        away_team_wins -= 1
                    elif winner == 'home':
                        home_team_wins -= 1
            
                    # Append the data to the list
                    weekly_record_data.append([
                        year,
                        week,
                        away_team_abbr,
                        away_team_wins,
                        home_team_abbr,
                        home_team_wins
                    ])

# Create a DataFrame from the collected data
weekly_record_df = pd.DataFrame(weekly_record_data, columns=[
    'Year', 'Week', 'Away Team', 'Away Team Wins', 'Home Team', 'Home Team Wins'
])

# Display the DataFrame
print(weekly_record_df)

end_time = time.time()
total_time = end_time - start_time
print(f"Time to Scrape Weekly Record Data 2013-2023: {total_time:.2f} seconds")

      Year  Week Away Team  Away Team Wins Home Team  Home Team Wins
0     2013     1       BAL               0       DEN               0
1     2013     1        NE               0       BUF               0
2     2013     1       CIN               0       CHI               0
3     2013     1       MIA               0       CLE               0
4     2013     1       MIN               0       DET               0
...    ...   ...       ...             ...       ...             ...
2605  2023    18       SEA               8       ARI               4
2606  2023    18        KC              10       LAC               5
2607  2023    18       LAR               9        SF              12
2608  2023    18       DAL              11       WSH               4
2609  2023    18       BUF              10       MIA              11

[2610 rows x 6 columns]
Time to Scrape Weekly Record Data 2013-2023: 301.38 seconds

#### Step 2: Clean Matchup Data

In [108]:
# Deleting Duplicate Row for Postponed Game (NYJ vs. BUF 2014)
weekly_record_df.drop(430, axis = 0, inplace = True)
weekly_record_df[(weekly_record_df["Home Team"] == "BUF") & (weekly_record_df["Year"] == 2014)]

     Year  Week Away Team  Away Team Wins Home Team  Home Team Wins
273  2014     2       MIA               1       BUF               1
289  2014     3       LAC               1       BUF               2
333  2014     6        NE               3       BUF               3
348  2014     7       MIN               2       BUF               3
391  2014    10        KC               5       BUF               5
431  2014    12       NYJ               2       BUF               5
436  2014    13       CLE               7       BUF               6
467  2014    15        GB              10       BUF               7

In [109]:
# Deleting Duplicate Row for Postponed Game (TB vs. MIA 2017)
weekly_record_df.drop(1038, axis = 0, inplace = True)
weekly_record_df[(weekly_record_df["Home Team"] == "MIA") & (weekly_record_df["Year"] == 2017)]

      Year  Week Away Team  Away Team Wins Home Team  Home Team Wins
1074  2017     4        NO               1       MIA               1
1094  2017     5       TEN               2       MIA               1
1124  2017     7       NYJ               3       MIA               3
1156  2017     9        LV               3       MIA               4
1176  2017    11        TB               3       MIA               4
1208  2017    13       DEN               3       MIA               4
1233  2017    14        NE              10       MIA               5
1277  2017    17       BUF               8       MIA               6

In [110]:
#Changing Washington Commanders Abbreviation from WSH to WAS
weekly_record_df.loc[weekly_record_df["Home Team"] == "WSH", "Home Team"] = "WAS"

In [121]:
# Check for Missing Values
weekly_record_df.loc[weekly_record_df["Home Team Wins"].isna()]

Empty DataFrame
Columns: [Year, Week, Away Team, Away Team Wins, Home Team, Home Team Wins]
Index: []

#### Step 3: Merge Weekly Matchup Data with Main Data

In [132]:
#
capacity_df_all2 = pd.merge(capacity_df_all, weekly_record_df, left_on = ["Tm", "Year", "Week"], right_on = ["Home Team", "Year", "Week"], how = "left")
capacity_df_all2.drop(columns = {"Away Team", "Home Team"}, inplace = True)
capacity_df_all2["Away Team Wins"] = capacity_df_all2["Away Team Wins"].astype(int)
capacity_df_all2["Home Team Wins"] = capacity_df_all2["Home Team Wins"].astype(int)
capacity_df_all2.head()

    Tm  Week  Percent Capacity  Year  Away Team Wins  Home Team Wins
0  BUF     1          0.970827  2013               0               0
1  CAR     1          0.978989  2013               0               0
2  CHI     1          1.011593  2013               0               0
3  CLE     1          1.060536  2013               0               0
4  DAL     1          1.066850  2013               0               0

In [133]:
# Check for Missing Values
capacity_df_all2.loc[capacity_df_all2["Home Team Wins"].isna()]

Empty DataFrame
Columns: [Tm, Week, Percent Capacity, Year, Away Team Wins, Home Team Wins]
Index: []

## Marking Primetime Games

### Scraping Primetime Game Schedules

In [134]:
def scrape_primetime_schedule(url):
    # Send a GET request to the webpage
    response = requests.get(url)
    
    # Check if the request was successful
    if response.status_code == 200:
        # Parse the HTML content of the page
        soup = BeautifulSoup(response.content, 'html.parser')

        # Find all schedule entries
        schedule_items = soup.find_all('div', class_='nfl-c-matchup-tile')

        # List to store scraped data
        data = []

        # Loop through each schedule entry
        for item in schedule_items:
            # Extract week number
            week_info = item.find('span', class_='nfl-c-matchup-tile__week-name')
            if week_info:
                week_number_text = week_info.get_text(strip=True)
                # Clean up non-numeric characters and convert to integer
                week_number_text_clean = re.sub(r'\D', '', week_number_text)  # Remove non-digit characters
                week_number = int(week_number_text_clean) if week_number_text_clean else "Unknown Week"
            else:
                week_number = "Unknown Week"
            
            # Extract day of the week
            day_info = item.find('span', class_='nfl-c-matchup-tile__week-day')
            if day_info:
                day_of_week = day_info.get_text(strip=True).split('·')[0].strip()  # Extract day and remove extra characters
            else:
                day_of_week = "Unknown Day"
            
            # Extract home team
            match_strip = item.find('div', class_='nfl-c-matchup-strip')
            team_abbreviations = match_strip.find_all('span', class_='nfl-c-matchup-strip__team-abbreviation') if match_strip else []
            if len(team_abbreviations) >= 2:
                home_team = team_abbreviations[1].get_text(strip=True)  # The second abbreviation is typically the home team
            else:
                home_team = "Unknown Team"

            # Append data to the list
            data.append({
                'Week Number': week_number,
                'Home Team': home_team,
                'Day of Week': day_of_week
            })
        
        # Convert the data to a pandas DataFrame
        df = pd.DataFrame(data)
        
        # Reset index to start at 0
        df.index = range(len(df))
        
        return df
    else:
        print(f"Failed to retrieve the page. Status code: {response.status_code}")
        return None
        
start_time = time.time()

snf = {}
for year in range(2013,2024):
    if year != 2020:
        url = f"https://www.nfl.com/schedules/sunday-night-football/{year}"
        snf[year] = scrape_primetime_schedule(url)
        snf[year]["Year"] = year

mnf = {}
for year in range(2013,2024):
    if year != 2020:
        url = f"https://www.nfl.com/schedules/monday-night-football/{year}"
        mnf[year] = scrape_primetime_schedule(url)
        mnf[year]["Year"] = year

tnf = {}
for year in range(2013,2024):
    if year != 2020:
        url = f"https://www.nfl.com/schedules/thursday-night-football/{year}"
        tnf[year] = scrape_primetime_schedule(url)
        tnf[year]["Year"] = year


end_time = time.time()
total_time = end_time - start_time
print(f"Time to Scrape Primetime Game Data 2013-2023: {total_time:.2f} seconds")

Time to Scrape Primetime Game Data 2013-2023: 61.02 seconds

In [135]:
# Stacking all Primetime Dataframes

snf_combined = pd.concat(snf.values(), ignore_index = True)
mnf_combined = pd.concat(tnf.values(), ignore_index = True)
tnf_combined = pd.concat(mnf.values(), ignore_index = True)

primetime_df = pd.concat([snf_combined, mnf_combined, tnf_combined], ignore_index = True)

#Converting Week Column from float to int
primetime_df["Week Number"] = primetime_df["Week Number"].astype(int)

primetime_df

     Year  Week Number Home Team Day of Week
0    2017            1        NE         Thu
1    2017            1       DAL         Sun
2    2018            1       PHI         Thu
3    2018            1        GB         Sun
4    2018            2       DAL         Sun
..    ...          ...       ...         ...
274  2023           15       SEA         Mon
275  2023           16        SF         Mon
276  2023           17       DAL         Sat
277  2023           18       BAL         Sat
278  2023           18       IND         Sat

[279 rows x 4 columns]

In [136]:
capacity_df_all3 = pd.merge(capacity_df_all2, primetime_df, left_on = ["Tm", "Week", "Year"], right_on = ["Home Team", "Week Number", "Year"], how = "left")
capacity_df_all3.loc[capacity_df_all3["Day of Week"].isna(), "Time"] = 0
capacity_df_all3.loc[capacity_df_all3["Day of Week"] == "Sun", "Time"] = 1
capacity_df_all3.loc[capacity_df_all3["Day of Week"] == "Mon", "Time"] = 2
capacity_df_all3.loc[capacity_df_all3["Day of Week"] == "Thu", "Time"] = 3
capacity_df_all3.loc[capacity_df_all3["Day of Week"] == "Fri", "Time"] = 4
capacity_df_all3.loc[capacity_df_all3["Day of Week"] == "Sat", "Time"] = 4
capacity_df_all3["Time"] = capacity_df_all3["Time"].astype(int)
capacity_df_all3.drop(columns = {"Week Number", "Home Team", "Day of Week"}, inplace = True)
capacity_df_all = capacity_df_all3

capacity_df_all

       Tm  Week  Percent Capacity  Year  Away Team Wins  Home Team Wins  Time
0     BUF     1          0.970827  2013               0               0     0
1     CAR     1          0.978989  2013               0               0     0
2     CHI     1          1.011593  2013               0               0     0
3     CLE     1          1.060536  2013               0               0     0
4     DAL     1          1.066850  2013               0               0     0
...   ...   ...               ...   ...             ...             ...   ...
2602   NO    18          0.957163  2023               7               8     0
2603  NYG    18          0.918061  2023              11               5     0
2604   SF    18          1.045606  2023               9              12     0
2605  TEN    18          0.921915  2023               9               5     0
2606  WAS    18          0.939867  2023              11               4     0

[2607 rows x 7 columns]

## Marking International Games

In [137]:
# Setting All Games to 0
capacity_df_all["International"] = 0

# Inputting 1's for International Games
capacity_df_all.loc[(capacity_df_all["Tm"] == "MIN") & (capacity_df_all["Year"] == 2013) & (capacity_df_all["Week"] == 4), "International"] = 1
capacity_df_all.loc[(capacity_df_all["Tm"] == "JAX") & (capacity_df_all["Year"] == 2013) & (capacity_df_all["Week"] == 8), "International"] = 1

capacity_df_all.loc[(capacity_df_all["Tm"] == "LV") & (capacity_df_all["Year"] == 2014) & (capacity_df_all["Week"] == 4), "International"] = 1
capacity_df_all.loc[(capacity_df_all["Tm"] == "ATL") & (capacity_df_all["Year"] == 2014) & (capacity_df_all["Week"] == 8), "International"] = 1
capacity_df_all.loc[(capacity_df_all["Tm"] == "JAX") & (capacity_df_all["Year"] == 2014) & (capacity_df_all["Week"] == 10), "International"] = 1

capacity_df_all.loc[(capacity_df_all["Tm"] == "MIA") & (capacity_df_all["Year"] == 2015) & (capacity_df_all["Week"] == 4), "International"] = 1
capacity_df_all.loc[(capacity_df_all["Tm"] == "JAX") & (capacity_df_all["Year"] == 2015) & (capacity_df_all["Week"] == 7), "International"] = 1
capacity_df_all.loc[(capacity_df_all["Tm"] == "KC") & (capacity_df_all["Year"] == 2015) & (capacity_df_all["Week"] == 8), "International"] = 1

capacity_df_all.loc[(capacity_df_all["Tm"] == "JAX") & (capacity_df_all["Year"] == 2016) & (capacity_df_all["Week"] == 4), "International"] = 1
capacity_df_all.loc[(capacity_df_all["Tm"] == "LAR") & (capacity_df_all["Year"] == 2016) & (capacity_df_all["Week"] == 7), "International"] = 1
capacity_df_all.loc[(capacity_df_all["Tm"] == "CIN") & (capacity_df_all["Year"] == 2016) & (capacity_df_all["Week"] == 8), "International"] = 1

capacity_df_all.loc[(capacity_df_all["Tm"] == "JAX") & (capacity_df_all["Year"] == 2017) & (capacity_df_all["Week"] == 3), "International"] = 1
capacity_df_all.loc[(capacity_df_all["Tm"] == "MIA") & (capacity_df_all["Year"] == 2017) & (capacity_df_all["Week"] == 4), "International"] = 1
capacity_df_all.loc[(capacity_df_all["Tm"] == "LAR") & (capacity_df_all["Year"] == 2017) & (capacity_df_all["Week"] == 7), "International"] = 1
capacity_df_all.loc[(capacity_df_all["Tm"] == "CLE") & (capacity_df_all["Year"] == 2017) & (capacity_df_all["Week"] == 8), "International"] = 1

capacity_df_all.loc[(capacity_df_all["Tm"] == "LV") & (capacity_df_all["Year"] == 2018) & (capacity_df_all["Week"] == 6), "International"] = 1
capacity_df_all.loc[(capacity_df_all["Tm"] == "LAC") & (capacity_df_all["Year"] == 2018) & (capacity_df_all["Week"] == 7), "International"] = 1
capacity_df_all.loc[(capacity_df_all["Tm"] == "JAX") & (capacity_df_all["Year"] == 2018) & (capacity_df_all["Week"] == 8), "International"] = 1

capacity_df_all.loc[(capacity_df_all["Tm"] == "LV") & (capacity_df_all["Year"] == 2019) & (capacity_df_all["Week"] == 5), "International"] = 1
capacity_df_all.loc[(capacity_df_all["Tm"] == "TB") & (capacity_df_all["Year"] == 2019) & (capacity_df_all["Week"] == 6), "International"] = 1
capacity_df_all.loc[(capacity_df_all["Tm"] == "LAR") & (capacity_df_all["Year"] == 2019) & (capacity_df_all["Week"] == 8), "International"] = 1
capacity_df_all.loc[(capacity_df_all["Tm"] == "JAX") & (capacity_df_all["Year"] == 2019) & (capacity_df_all["Week"] == 9), "International"] = 1

capacity_df_all.loc[(capacity_df_all["Tm"] == "ATL") & (capacity_df_all["Year"] == 2021) & (capacity_df_all["Week"] == 5), "International"] = 1
capacity_df_all.loc[(capacity_df_all["Tm"] == "JAX") & (capacity_df_all["Year"] == 2021) & (capacity_df_all["Week"] == 6), "International"] = 1

capacity_df_all.loc[(capacity_df_all["Tm"] == "NO") & (capacity_df_all["Year"] == 2022) & (capacity_df_all["Week"] == 4), "International"] = 1
capacity_df_all.loc[(capacity_df_all["Tm"] == "GB") & (capacity_df_all["Year"] == 2022) & (capacity_df_all["Week"] == 6), "International"] = 1
capacity_df_all.loc[(capacity_df_all["Tm"] == "JAX") & (capacity_df_all["Year"] == 2022) & (capacity_df_all["Week"] == 8), "International"] = 1

capacity_df_all.loc[(capacity_df_all["Tm"] == "JAX") & (capacity_df_all["Year"] == 2023) & (capacity_df_all["Week"] == 4), "International"] = 1
capacity_df_all.loc[(capacity_df_all["Tm"] == "BUF") & (capacity_df_all["Year"] == 2023) & (capacity_df_all["Week"] == 5), "International"] = 1
capacity_df_all.loc[(capacity_df_all["Tm"] == "TEN") & (capacity_df_all["Year"] == 2023) & (capacity_df_all["Week"] == 6), "International"] = 1

capacity_df_all.loc[(capacity_df_all["Tm"] == "LV") & (capacity_df_all["Year"] == 2016) & (capacity_df_all["Week"] == 11), "International"] = 1
capacity_df_all.loc[(capacity_df_all["Tm"] == "LV") & (capacity_df_all["Year"] == 2017) & (capacity_df_all["Week"] == 11), "International"] = 1
capacity_df_all.loc[(capacity_df_all["Tm"] == "LAC") & (capacity_df_all["Year"] == 2019) & (capacity_df_all["Week"] == 11), "International"] = 1
capacity_df_all.loc[(capacity_df_all["Tm"] == "ARI") & (capacity_df_all["Year"] == 2022) & (capacity_df_all["Week"] == 11), "International"] = 1

capacity_df_all.loc[(capacity_df_all["Tm"] == "TB") & (capacity_df_all["Year"] == 2022) & (capacity_df_all["Week"] == 10), "International"] = 1
capacity_df_all.loc[(capacity_df_all["Tm"] == "KC") & (capacity_df_all["Year"] == 2023) & (capacity_df_all["Week"] == 9), "International"] = 1
capacity_df_all.loc[(capacity_df_all["Tm"] == "NE") & (capacity_df_all["Year"] == 2023) & (capacity_df_all["Week"] == 10), "International"] = 1

In [138]:
capacity_df_all.loc[(capacity_df_all["International"] == 1)].count()

Tm                  37
Week                37
Percent Capacity    37
Year                37
Away Team Wins      37
Home Team Wins      37
Time                37
International       37
dtype: int64

# Writing Data to CSV file for Machine Learning

In [149]:
capacity_df_all.loc[capacity_df_all["Home Team Wins"] == -1]

,Tm,Week,Percent Capacity,Year,Away Team Wins,Home Team Wins,Time,International
186,MIN,13,1.000203,2013,6,-1,0,0
197,GB,14,0.952223,2013,3,-1,0,0
219,MIN,15,0.999470,2013,8,-1,0,0
249,MIN,17,1.000203,2013,7,-1,0,0
365,CIN,8,0.850355,2014,5,-1,0,0
378,CIN,9,0.916691,2014,1,-1,0,0
466,CAR,15,0.972952,2014,2,-1,0,0
480,CAR,16,0.985882,2014,7,-1,0,0
482,CIN,16,1.009036,2014,11,-1,0,0
897,SEA,9,1.001217,2016,4,-1,0,0
900,ARI,10,1.027240,2016,1,-1,0,0
913,WAS,10,0.953854,2016,5,-1,0,0
925,SEA,11,1.002754,2016,5,-1,0,0
927,WAS,11,0.940695,2016,4,-1,0,0
944,ARI,13,1.024274,2016,0,-1,0,0
948,CIN,13,0.846463,2016,5,-1,0,0
958,SEA,13,1.001507,2016,4,-1,0,0
989,SEA,15,1.000971,2016,4,-1,0,0
1008,CIN,17,0.838648,2016,8,-1,0,0
1315,CLE,3,1.000000,2018,1,-1,3,0
1332,GB,4,0.961580,2018,1,-1,0,0
1345,CLE,5,1.000000,2018,3,-1,0,0
1354,PIT,5,0.947091,2018,1,-1,0,0
1362,GB,6,0.953353,2018,1,-1,2,0
1366,MIN,6,1.002190,2018,1,-1,0,0
1399,PIT,8,0.932456,2018,0,-1,0,0
1407,MIN,9,1.002550,2018,3,-1,0,0
1415,CLE,10,0.921594,2018,4,-1,0,0
1416,GB,10,0.958682,2018,5,-1,0,0
1423,PIT,10,0.919313,2018,6,-1,3,0
1450,MIN,12,1.003256,2018,0,-1,1,0
1474,CLE,14,0.880782,2018,6,-1,0,0
1476,GB,14,0.949509,2018,4,-1,0,0
1498,MIN,15,1.002790,2018,7,-1,0,0
1501,PIT,15,0.954386,2018,9,-1,0,0
1505,CLE,16,1.000000,2018,6,-1,0,0
1530,PIT,17,0.933830,2018,6,-1,0,0
1556,DET,2,0.925508,2019,1,-1,0,0
1613,ARI,6,0.948580,2019,1,-1,0,0
1644,DET,8,0.900138,2019,2,-1,0,0
1743,ARI,15,0.999132,2019,6,-1,0,0
1975,DET,13,0.702938,2021,5,-1,0,0
1983,PIT,13,0.867003,2021,8,-1,0,0
2004,DET,15,0.695554,2021,10,-1,0,0
2012,PIT,15,0.870190,2021,9,-1,0,0
2042,PIT,17,0.930175,2021,7,-1,2,0
2053,DET,18,0.872846,2021,13,-1,0,0
2100,IND,3,0.984701,2022,2,-1,0,0
2147,IND,6,0.981328,2022,2,-1,0,0
2313,NYG,17,0.938170,2022,0,-1,0,0
2334,WAS,18,0.927596,2022,12,-1,0,0

In [148]:
capacity_df_all.to_csv("Data Files/Cleaned_Data_for_ML.csv", index = False)